.titulo-seccion{
    background:#d9edf7;
    border:1px solid black;
    padding:8px;
}

.paciente-grid{
    display:grid;
    grid-template-columns: 220px 1fr 120px 150px;
    gap:12px;
    margin-top:15px;
}

.paciente-grid label{
    font-weight:bold;
    align-self:center;
}

.paciente-grid input{
    width:100%;
    box-sizing:border-box;
}

.sexo{
    display:flex;
    gap:20px;
    align-items:center;
}

.ancho-total{
    grid-column: span 3;
}
